In [78]:
# all necessary imports
import json
import csv
import pandas as pd

In [79]:
# importing the dataset from json
df= pd.read_csv('/Users/jyotit-kaushal/github/boozeless-analytics/data/singapore_processed_dataset.csv')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11865 entries, 0 to 11864
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   venue_id                  11865 non-null  object
 1   latitude                  11865 non-null  float64
 2   longitude                 11865 non-null  float64
 3   venue_name                11864 non-null  object
 4   platform_listing_url      11865 non-null  object
 5   region                    11865 non-null  object
 6   neighborhood              11865 non-null  object
 7   address                   11826 non-null  object
 8   phone                     8416 non-null   object
 9   website                   7481 non-null   object
 10  price_point_bucket        11865 non-null  object
 11  review_count              11227 non-null  float64
 12  review_sample             11865 non-null  object
 13  opening_hours             11865 non-null  object
 14  platform_category         11857 non-null  object
 15  venue_main_image          11865 non-null  object
 16  venue_segment             11856 non-null  object
 17  venue_subsegment          11856 non-null  object
 18  bayesian_weighted_rating  11865 non-null  float64
 19  busy_during_nighttime     657 non-null    object
 20  atmosphere                1011 non-null   object
 21  crowd                     1050 non-null   object
 22  dining_options            711 non-null    object
 23  happy_hour                330 non-null    object
 24  highlights                440 non-null    object
 25  offerings                 1165 non-null   object
 26  payments                  1139 non-null   object
 27  planning                  905 non-null    object
 28  types_of_alcohol          1016 non-null   object
 29  ordering_options          5005 non-null   object
 30  amenities_cat             304 non-null    object
 31  accessibility             0 non-null      float64
 32  review_count_10000        11227 non-null  float64
 33  review_sample_size        11865 non-null  int64
dtypes: float64(6), int64(1), object(27)
memory usage: 3.1+ MB

In [81]:
# pivot table for venue_segment
pivot_table_venueseg = pd.pivot_table(df, 
                            index='venue_segment', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_venueseg)

venue_segment
Bar               816
Cafe             1520
Entertainment     341
Hawker Food      2326
Hotel             474
Non Alcoholic     532
Restaurant       5545
Stores            302
dtype: int64

In [82]:
excluded_segments = ["Bar", "Entertainment", "Non Alcoholic", "Restaurant"]
df = df[df["venue_segment"].isin(excluded_segments)]

df.shape

(7234, 34)

In [83]:
df = df[df['bayesian_weighted_rating'] >= 4]
df.shape

(5383, 34)

In [63]:
# pivot table for price_point_bucket
pivot_table_pricepoint = pd.pivot_table(df, 
                            index='price_point_bucket', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_pricepoint)

price_point_bucket
$       1231
$$      5437
$$$      459
$$$$     107
dtype: int64

In [84]:
excluded_price_points= ['$$$', '$$$$']
df= df[df['price_point_bucket'].isin(excluded_price_points)]

df.shape

(526, 34)

In [75]:
df.to_csv("/Users/jyotit-kaushal/github/boozeless-analytics/data/singapore_processed_dataset_1761.csv", index= False)

In [100]:
boozeless_rating= [0]*len(df)

In [107]:
toa_index = df.columns.get_loc('types_of_alcohol')


for i in range(len(df)):
    if type(df.iloc[i, toa_index])==str:
        if 'hard_liquor' in df.iloc[i, toa_index]:
            boozeless_rating[i]+=1
        else:
            pass
        if 'cocktails' in df.iloc[i, toa_index]:
            boozeless_rating[i]+=1
        else:
            pass
    else:
        pass


print(boozeless_rating)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
[2, 2, 1, 0, 2, 2, 2, 2, 0, 2, 2, 1, 0, 0, 2, 0, 0, 2, 1, 0, 2, 0, 0, 2, 0, 1, 1, 2, 2, 0, 0, 0, 2, 0, 1, 2, 2, 1, 0, 0, 2, 1, 2, 1, 2, 0, 2, 0, 0, 1, 2, 1, 2, 0, 2, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 1, 2, 2, 2, 0, 2, 0, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 1, 1, 2, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 2, 2, 1, 2, 2, 0, 0, 2, 0, 2, 0, 0, 1, 2, 2, 2, 1, 2, 0, 2, 2, 0, 0, 1, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 0, 2, 0, 1, 2, 0, 1, 0, 0, 2, 0, 0, 2, 2, 2, 1, 0, 2, 0, 2, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 0, 1, 0, 2, 2, 2, 0, 0, 0, 2, 1, 2, 0, 0, 0, 2, 0, 2, 2, 2, 0, 1, 0, 0, 0, 2, 1, 0, 2, 0, 0, 1, 2, 2, 0, 2, 2, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 1, 0, 0, 2, 0, 1, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 0, 1, 1, 2, 2, 0, 0, 1, 2, 2, 0, 2, 2, 2, 0, 1, 2, 0, 2, 0, 1, 2, 0, 1, 2, 1, 2, 0, 0, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 1, 2, 0, 0, 0, 2, 0, 0, 2, 2, 1, 2, 2, 0, 2, 1, 0, 2, 0, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 2, 2, 2, 0, 0, 2, 0, 2, 1, 0, 0, 2, 2, 1, 0, 2, 1, 2, 1, 2, 0, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 0, 2, 2, 2, 0, 1, 2, 0, 0, 1, 2, 0, 0, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 1, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 2, 1, 1, 0, 0, 2, 0, 2, 1, 0, 2, 2, 0, 0, 0, 2, 2, 1, 2, 1, 2, 1, 2, 0, 1, 2, 2, 2, 2, 0, 1, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2]

In [76]:
count=0
for x in df['review_sample']:
    if x=="{}":
        pass
    else:
        count+=1

print(count)

375

In [77]:
non_na_count = df['review_sample'].count()
print("Number of non-NaN entries in the column:", non_na_count)

Number of non-NaN entries in the column: 526

In [69]:
pivot_table_nightbusy = pd.pivot_table(df, 
                            index='busy_during_nighttime', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_nightbusy)

busy_during_nighttime
No     304
Yes    225
dtype: int64

In [70]:
pivot_table_venuesubseg = pd.pivot_table(df, 
                            index='venue_subsegment', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_venuesubseg)

venue_subsegment
Asian            1402
Bar               754
Entertainment     292
Fast Food          62
Fine Dining        22
Halal              71
Non Alcoholic     158
Restaurant       1385
Vegetarian         94
Western           288
dtype: int64

In [71]:
# pivot table for reviews
df['review_count_10000'] = df['review_count'].round(-4)

pivot_table_reviewcnt = pd.pivot_table(df, 
                            index='review_count_10000', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_reviewcnt)

review_count_10000
0.0        4275
10000.0      11
20000.0       1
dtype: int64

In [72]:
pd.set_option('display.max_rows', None)

pivot_table_platformcat = pd.pivot_table(df, 
                            index='platform_category', 
                            aggfunc='size', 
                            fill_value=0)

print(pivot_table_platformcat)

platform_category
American restaurant                      11
Argentinian restaurant                    2
Asian fusion restaurant                  17
Asian restaurant                         44
Authentic Japanese restaurant            14
Bakery                                  158
Bangladeshi restaurant                    4
Bar                                     491
Bar & grill                              38
Barbecue restaurant                      10
Beer garden                              14
Bistro                                  134
Breakfast restaurant                      1
Brewery                                  12
Brewpub                                   4
Brunch restaurant                         3
Buffet restaurant                        12
Cantonese restaurant                     31
Chicken restaurant                       15
Chinese noodle restaurant                25
Chinese restaurant                      257
Cocktail bar                             87
Concert hall                              9
Conveyor belt sushi restaurant            6
Dance club                                2
Dart bar                                  3
Dim sum restaurant                       20
Diner                                     3
Disco club                               31
European restaurant                       7
Event venue                               1
Family restaurant                        14
Fast food restaurant                     62
Filipino restaurant                       6
Fine dining restaurant                   22
Fish and seafood restaurant               5
French restaurant                        26
Fusion restaurant                        29
Gastropub                                 8
Gay bar                                   2
German restaurant                         4
Greek restaurant                          5
Halal restaurant                         71
Hamburger restaurant                     11
Health food restaurant                    5
Hong Kong style fast food restaurant      6
Hot pot restaurant                       23
Indian Muslim restaurant                 18
Indian restaurant                       113
Indonesian restaurant                    18
Irish pub                                 3
Italian restaurant                       93
Izakaya restaurant                       19
Japanese curry restaurant                10
Japanese restaurant                     269
Japanese steakhouse                       2
Karaoke bar                             116
Korean barbecue restaurant               21
Korean restaurant                        67
Kosher restaurant                         1
Latin American restaurant                 1
Live music bar                           17
Live music venue                         23
Malaysian restaurant                      8
Mediterranean restaurant                  9
Mexican restaurant                       19
Middle Eastern restaurant                 2
Modern European restaurant                1
Modern French restaurant                  5
Modern izakaya restaurant                 4
Nepalese restaurant                       4
Night club                               77
Noodle shop                              12
North Indian restaurant                   5
Nyonya restaurant                        15
Pizza restaurant                         38
Porridge restaurant                      10
Pub                                     109
Ramen restaurant                         33
Restaurant                              942
Seafood restaurant                      123
Shanghainese restaurant                   1
Sichuan restaurant                       10
Singaporean restaurant                   41
Soul food restaurant                      1
Spanish restaurant                       12
Sports bar                                9
Steak house                              25
Steamboat restaurant                     15
Sushi restaurant                         22
Taco restaurant                           1
Taiwanese restaurant                     32
Takeout Restaurant                        2
Tapas bar                                 2
Tex-Mex restaurant                        3
Thai restaurant                         117
Turkish restaurant                       13
Vegan restaurant                         11
Vegetarian restaurant                    94
Video karaoke                             2
Vietnamese restaurant                    36
Western restaurant                       63
Wine bar                                 33
Winery                                    1
Yakiniku restaurant                       6
Yakitori restaurant                       4
dtype: int64